@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
    font-family: 'Vazir';
    src: url('../public/Fonts/Vazir-Medium.ttf');
  }
}


@layer base {
  html {
    font-family: 'Vazir', system-ui, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    --sb-track-color: #ffd8d8;
    --sb-thumb-color: #bbbfbd;
    --sb-size: 5px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
}


/* 

body {
    --sb-track-color: #b6b5b5;
    --sb-thumb-color: #695dda;
    --sb-size: 10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 2px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 2px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  } */